@import "../variables.css";

.box {
    flex-shrink: 0;
    width: 500px;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--super-dark-color);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.img {
    width: 185px;
    height: 300px;
    border: none;
    margin-bottom: 15px;
}

h2 {
    font-size: 15px;
    font-weight: bold;
    color: var(--super-dark-color);
    margin: 10px 0;
}

p {
    font-size: 14px;
    color: var(--dark-color);
    line-height: 1.5;
    margin: 10px 0;
    max-height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
}

a {
    text-decoration: none;
    color: var(--super-dark-color);
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: var(--susuper-dark-color);
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

li {
    background-color: var(--super-dark-color);
    color: white;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}
