@import "variables.css";

body {
    background-color: var(--background-color);
    margin: 0;
    padding: 150px 0 0 0;
    font-family: Arial, sans-serif;
}

/* 스크롤바 */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: var(--background-color);
}
::-webkit-scrollbar-thumb {
    background: var(--dark-color);
    border-radius: 5px;
}
