:root {
    --background-color: #f6f0f0;
    --bright-color: #f2e2b1;
    --medium-color: #d5c7a3;
    --dark-color: #bdb395;
    --super-dark-color: #97866a;
    --susuper-dark-color: #604652;
    --text-color: #5a4a42;
}
